h1 {
    margin-left: 36rem!important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    
}

form {
    margin: 10em;
}

button {
    background-color: yellow;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    padding: 12px 22px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
    margin-left: 26rem;
}


@media (max-width: 768px) {
    h1 {
        margin-left: 8rem!important;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: white;
        
    }
    
    form {
        margin: 6em;
    }

    .footer-container {
        padding: 20px;
        text-align: center;
        background-color: #a7a39c;
        position: absolute;
        bottom: 0;
        width: 90%;
    }
    .footer-text {
        font-size: 12px;
    }
    
  }
  @media only screen and (max-width: 600px) {
    h1 {
        margin-left: 8rem!important;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: white;
        
    }
    
    form {
        margin: 5em;
    }
    button {
        background-color: yellow;
        color: black;
        font-weight: bold;
        border-radius: 20px;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s;
        margin-left: 3.3rem;
    }
    .footer-container {
        padding: 20px;
        text-align: center;
        background-color: #a7a39c;
        position: absolute;
        bottom: 0;
        width: 90%;
    }
    .footer-text {
        font-size: 12px;
    }
    button {
        background-color: yellow;
        color: black;
        font-weight: bold;
        border-radius: 20px;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s;
        margin-left: 3.3rem;
    }
  }
    /* Media query para telas com largura acima de 1500px
@media (m-width: 1300px) {
    h1 {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    form {
        margin: auto;
        max-width: 50%;
    }

    button {
        margin-left: 10rem;
        margin-right: auto;
        display: block;
    }

    
} */




