
.cadastro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    color: white;
  }

  input[type="text"] {
    margin-left: 0rem;
}
  
  .cadastro-container h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }
  
  .cadastro-container form {
    width: 100%; 
    max-width: 500px; 
    margin: 2rem auto; 
  }
  
  .cadastro-container .input-container {
    margin-bottom: 1rem;
    width: 100%; 
  }
  
  .cadastro-container button {
    background-color: yellow;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    padding: 12px 22px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%; 
    margin: 1rem 0;
  }
  
  .cadastro-container input[type="text"],
  .cadastro-container input[type="email"],
  .cadastro-container input[type="password"] {
    width: 100%; 
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  

  @media (max-width: 768px) {
    .cadastro-container {
      padding: 1rem;
    }
  
    .cadastro-container h1 {
      margin: 1rem;
      font-size: 1.5rem; 
    }
  
    .cadastro-container form {
      margin: 1rem;
    }
  
    .cadastro-container .input-container,
    .cadastro-container button {
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media (max-width: 480px) {
    .cadastro-container h1 {
      font-size: 1.2rem; 
    }
  }
  