.contact-container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  input[type="text"] {
    font-size: 1rem;
  }
    
  .contact-container h1 {
    color: #333;
    text-align: center;
  }
  
  .contact-container form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    margin-bottom: 1rem;
  }
  
  .input-group input,
  .input-group textarea {
    width: 90%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .input-group textarea {
    height: 150px;
    resize: vertical;
  }
  
  .contact-container button {
    padding: 0.5rem 1rem;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .contact-container button:hover {
    background-color: yellow;
    color:black;
  }
  