/* LoginPage.css */
.button-login {
    background-color: yellow; 
    color: black; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
  }
  
  .button-login:hover {
    background-color: #000000; 
    color:white;
  }
  