    html, body {
        height: 100%; 
        margin: 0; 
        padding: 0; 
        background-color: rgb(240 240 240);
    }

    h3 {
        margin-left: 25rem!important;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: black!important;
        font-size: 2rem;
    }
    #root, .page-container {
        min-height: 100%; 
        display: flex;
        flex-direction: column; 
        justify-content: space-between; 
    }

    form {
        margin: 10em;
    }


    .raffle-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        min-height: 100vh;

    }
    .unique-button {
        background-color: yellow;
        color: black;             
        font-weight: bold;       
        border-radius: 20px;      
        padding: 12px 22px;       
        font-size: 16px;          
        cursor: pointer;         
        transition: all 0.3s;     
        display: block;          
        margin: 1em auto;         
        text-align: center; 

        margin: 1em auto 2em;
    }

    .unique-button:hover {
        scale: 1.05; 

    }

    .bingo-wrapper {
        display: flex; 
        justify-content: center;
        align-items: center;
        padding-bottom: 1rem;
        height: 100vh; 
        padding: 20px;
    }

    .bingo-board {
        display: grid;
        margin-bottom: 2em;
        justify-content: center; 
        grid-template-columns: repeat(auto-fill, minmax(40px, 1fr)); 
        gap: 13px;
        padding: 4rem;
        max-width: calc(100% - 40px); 
        margin-bottom: 2em; 
    }

    .bingo-number {
        background-color: #f0f0f0;
        border: 1px solid #bebdbd;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.3s;
        border-radius: 50%;
        width: 40px; 
        height: 40px; 
        font-size: 12px; 
    }
    .content-container {  
        margin-bottom: 100px; 
    }

    .bingo-number.selected {
        background-color: #4caf50; 
        color: white;
    }
    .footer-container {
        position: absolute;
        width: 100%;
    }
    /* modal pop up */
    .modal-overlay {
        display: flex;
        position: fixed; 
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center; 
        align-items: center;
        z-index: 100; 
      }
      
      .modal-content {
        position: relative;
        background: white;
        padding: 20px;
        border-radius: 10px;
        position: relative;
        z-index: 1001;
        width: 80%; 
        height: 80vh;
        max-width: 1000px; 
        max-height: 600px; 
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
    }
    button.button-reservar {
        margin-left: 17rem;
    }
    button.button-comprar {
        margin-left: 6rem;
    }
          
      .buttons-container {
        display: flex;
        justify-content: center;
        gap: 10px; /* Espaço entre os botões */
        margin-top: 20px; /* Espaço acima dos botões, ajuste conforme necessário */
      }
      .close-button {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 24px;
        z-index: 1002;
        border: none;
        background: none;
        cursor: pointer;
      }
      

      /* botão voltar modal */
      .modal-actions button {
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: transform 0.2s;
      }
      
      
      input[type="text"] {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      
      /* Desabilita o scroll do body quando a modal está aberta */
      body.modal-open {
        overflow: hidden;
      }
      
           

        @media (max-width: 600px) {
            h3 {
                margin-left: 6rem!important;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                color: white;
                font-size: 1rem;
                text-wrap: nowrap;
                margin-bottom: 3rem;
            }
            
            .bingo-board {
                grid-template-columns: repeat(auto-fill, minmax(25px, 1fr));
                gap: 26px;
                padding: 1.5rem;
                max-width: calc(92% - 32px);
                margin-top: -2rem;
                margin-bottom: 1em;
                padding-bottom: 50px;
                margin-right: 1rem;
            }
        

            .bingo-number {
                width: 30px;
                height: 30px;
                font-size: 10px; 
            }
            .unique-button {
                margin-bottom: 1em; 
                margin-top: -2rem;
            }

        
            .footer-container {
                padding: 1em;
                clear: both;
                background-color: rgb(240 240 240); 
                width: 100%;
            }
            

        @media (max-width: 400px) {
            .bingo-board {
                grid-template-columns: repeat(auto-fill, minmax(20px, 1fr)); 
                gap: 10px;
                padding: 2rem;
                max-width: calc(100% - 30px);
                margin-top: -2rem;
                margin-bottom: 1em;
            }

            .bingo-number {
                width: 20px; 
                height: 20px;
                font-size: 8px; 
            }
            h3 {
                margin-left: 1rem!important; 
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                color: rgb(0, 0, 0);
            }
        }
    }