html, body {
    height: 100%; 
    margin: 0; 
    padding: 0; 
    background-color: rgb(240 240 240);
}

h1 { 
    margin-right:10rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black!important;
}
#root, .page-container {
    min-height: 100%; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
}

form {
    margin: 10em;
}


.raffle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    min-height: 100vh;

  }
  .unique-button {
    background-color: yellow;
    color: black;             
    font-weight: bold;       
    border-radius: 20px;      
    padding: 12px 22px;       
    font-size: 16px;          
    cursor: pointer;         
    transition: all 0.3s;     
    display: block;          
    margin: 1em auto;         
    text-align: center; 

    margin: 1em auto 2em;
  }

.unique-button:hover {
    scale: 1.05; 

}


.bingo-wrapper {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    height: 100vh; 
    padding: 20px;
}

.bingo-board {
    display: grid;
    margin-bottom: 2em;
    justify-content: center; 
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr)); 
    gap: 13px;
    padding: 4rem;
    max-width: calc(100% - 40px); 
    margin-bottom: 2em; 
}

.bingo-number {
    background-color: #f0f0f0;
    border: 1px solid #bebdbd;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 50%;
    width: 40px; 
    height: 40px; 
    font-size: 12px; 
}
.content-container {  
    margin-bottom: 100px; 
}

.bingo-number.selected {
    background-color: #4caf50; 
    color: white;
}
.footer-container {
    position: absolute;
    width: 100%;
}


    @media (max-width: 600px) {
        h1 {
            margin-left: 1rem!important;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: black;
            font-size: 2.3rem;
        }
        
        .bingo-board {
            grid-template-columns: repeat(auto-fill, minmax(25px, 1fr)); 
            gap: 10px;
            padding: 2rem;
            max-width: calc(100% - 30px);
            margin-top: -2rem;
            margin-bottom: 1em;
            padding-bottom: 50px;
        }

        .bingo-number {
            width: 25px;
            height: 25px;
            font-size: 10px; 
        }
        .unique-button {
            margin-bottom: 1em; 
        }

    
        .footer-container {
            padding: 1em;
            clear: both;
            background-color: rgb(240 240 240); 
            width: 100%;
        }
        

    @media (max-width: 400px) {
        .bingo-board {
            grid-template-columns: repeat(auto-fill, minmax(20px, 1fr)); 
            gap: 10px;
            padding: 2rem;
            max-width: calc(100% - 30px);
            margin-top: -2rem;
            margin-bottom: 1em;
        }

        .bingo-number {
            width: 20px; 
            height: 20px;
            font-size: 8px; 
        }
        h1 {
            margin-left: 1rem!important; 
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: rgb(0, 0, 0);
        }
    }
}