/* Fonte Padrão */
body {
  font-family: Arial, sans-serif;
}

/* cor de fundo padrão para o aplicativo */
.App {
  background-color: #f0f0f0;
}

/* Estilo para o cabeçalho */
.Header {
  background-color: #333;
  color: white;
  padding: 1rem;
}

/* Estilo para o rodapé */
.Footer {
  background-color: #333;
  color: white;
  padding: 1rem;
}
